header
    .header--top.d-none.d-md-block
        .header--top-left.float-left.d-flex
            .times.d-flex.align-items-center
                img(src='./images/lock-hd.png' alt='lock')
                span Open time: 8:00 - 18:00 Monday - Sunday
            .social.d-flex
                -   var list = ['facebook','twitter','t','v'] 
                    each value in list
                        a(href='#')
                            figure
                                img(src='images/'+ value +'.png',alt=value) 
        .header--top-right.float-right
            a(href='./pages/signin.html').d-inline-block
                img(src='./images/signin.png',alt='signin')
                span Đăng nhập
            a(href='./pages/signup.html').d-inline-block
                img(src='./images/signup.png',alt='signup')
                span Đăng kí
    .header--content.d-flex
        //- header mobile
        .header-mobile.d-block.d-sm-none
            img(src='./images/GreenShop1.png',alt='gs-mobile')
        //- header mobile
        .header--content-name.d-none.d-sm-flex
            figure
                img(src='./images/hoa-bg.png',alt='hoa_bg')
        .header--content-search.d-none.d-md-flex.align-items-center.w-100.justify-content-end
            .search
                .info-contact
                    i.fas.fa-phone
                    span HỖ  TRỢ : (04) 6674 2332 - (04) 3786 8904
                .search--input.position-relative
                    input(type='text',placeholder='Tìm kiếm...').w-100.border-0.d-block.px-4
                    span
                    img(src='./images/search.png',alt='Search').position-absolute
            a(href='./pages/cart.html')
                img(src='./images/cart.png',alt='giỏ hàng')
            span 0 sản phẩm            
nav.d-flex.align-items-center
    .icon-menu
        div
        div
        div
    .menu-hidden.d-sm-none 
        .input-hidden.d-inline-block
            input(type='text')
            img(src='./images/search-white.png' alt = 'search')
        img.d-inline-block(src='./images/cart-white.png' alt='cart-white')         
    ul.d-none.d-sm-flex.mb-0
        li.active
            a(href='index.html') trang chủ
        li
            a(href='') giới thiệu
        li 
            a(href='./pages/list-product.html') sảm phẩm
                ul.d-none
                    li 
                        a(href='./pages/detail-product.html') Chi tiết sản phẩm
        li 
            a(href='') sản phẩm mới
                ul.d-none
                    li sản phẩm mới 1
                    li sản phẩm mới 2
                    //- li sản phẩm mới 3
        li
            a(href='./pages/news.html') tin tức
        li
            a(href='./pages/contact.html') liên hệ                 
