extends ../layouts/layout1.pug

block title
    title Liên hệ
block style
    link(rel="stylesheet" type="text/css",href='../css/pages/contact.css')    

block content
    main
        include ../components/path.pug
        +path('Liên hệ')
        .map--contact
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.466932100143!2d108.20769987809705!3d16.02127162629135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421989ed6118eb%3A0xe5c0365c3071ef6b!2zxJDhu5lpIEPhuqVuLCBLaHXDqiBUcnVuZywgQ-G6qW0gTOG7hywgxJDDoCBO4bq1bmcgNTUwMDAwLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1553325021464" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
        .content--contact
            .content--contact-input
                h4.text-uppercase thông tin liên hệ
                include ../components/input.pug
                +input('Họ và tên')
                +input('Địa chỉ email')
                +input('Số ĐT')
                +input('Bình luận')
            .content--contact-info
                figure.position-relative
                    img(src='../images/gs.png' alt='green shop')
                    span.position-absolute Món quà từ thiên nhiên
                p DKT được thành lập với niềm đam mê và khát vọng thành công trong lĩnh vực Thương mại điện tử.Chúng tôi đã và đang khẳng định được vị trí hàng đầu bằng những sản phẩm
                .phone-contact
                    img(src='../images/phone.png' alt='điện thoại')
                    span Điện thoại : (84 -4) 66.558.868 
                .email-contact
                    img(src='../images/email.png' alt='mail')
                    span Email : info@dkt.com.vn