.input-child {
    margin-top: 32px;
    .title-input {
        label {
            color: $silverTextBold;
        }
        small {
            
            color: $red;
        }
    }
    input {
        width: 100%;
        height: 45px;
        border: 1px solid $silverText;
    }
}