$green :#3fb871;
$greenActive: #36a66d;
$blackHeader: #202020;
$red: #d64146;
$silverBorder: #e2e7eb;
$silverText: #e1e1e1;
$silverTextBold : #898989;
$silverTextLight: #e1e1e1;
$blackFooter: #313131;
$blackFooterBottom: #434343;
$paddingMain : 150px;
$paddingMobile : 15px;
$product-gap: 33px;
$colorBody: #fbf9f9;

// color in list product
$greenList : #98cb4a;
$redList: #f76d3c;
$violetList: #913ccd;
$blueList: #5481e6;
$yellowList: #f7d842;
$pinkList: #f15f74;
